* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#title2 {
  color: pink;
}

body, html {
  height: 100%;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  height: 650px
}

.about2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  height: 650px
}

.about3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  height: 700px;
}

.about4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  height: 650px
}

#aboutMe {
  font-size: 25px;
}


.box1 {
  height: 500px;
  width: 500px;
  padding: 10px;
  margin:20px;

}

.contactBox {
  height: 500px;
  width: 450px;
  padding: 10px;
  margin:20px;

}

.box2 {
  height: 00px;
  padding: 10px;
  width: 500px;
  margin:20px;
}



.software-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  width: 500px;
  height:400px;
}

.littleBox {
  height: 80px;
}

.software-icons 
li {
  font-size: smaller;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5%;
  margin: 20px 5px 5px 5px;
  width: 100px;
  padding-top: 5px;
  text-align: center;
}

img {
  height:40px;
  width:40px;
}

body > div.about > div.right-wrapper > div > ul > li:nth-child(16) > img {
  height: 40px;
  width: 80px;
}



.projectBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.project1 {
  display: flex;
  width: 450px;
  height: 250px;
  
}

#projectTitle {
  color: rgb(58, 58, 58);
  line-height: 2.5;
}

#projectTitleAC {
  color: rgb(58, 58, 58);
  line-height: 3;
  font-size: 26px;
}


.iconsList {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.iconsBox 
li {
  margin: 8px;
  width: 20px;
  height: 20px;
  padding-top: 5px;
}

#buttonHeroku {
  width: 105px;
  height: 45px;
  margin-right: 8px;
  margin-top: 3px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;

}

#buttonGithub {
  width: 128px;
  height: 45px;
  margin-top: 3px;
  margin-left: 30px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;

}


#imageBox {
  background-image: url(../assets/mactransparent.png);
  background-size: contain;
  height: 500px;
  width: 100%;
  background-repeat:no-repeat;
  display: flex;
  margin: auto;
  display: flex
}

.galleryBox {
  position: absolute;
  left: 26px;
  top: 23px;
}


.diagonal-black-right {
  opacity: 0.9;
  width: 101%;
  border-bottom: 10px solid black;
  position: absolute;
  overflow-x: hidden;
}

.box {
  width: 400px;
  height: 490px;
  margin-left: 650px;
  display: flex;
}

.parallax {
  /* The image used */
  background-image: url('https://i.imgur.com/P8iPWhD.jpg');
  min-height: 200px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-size: 400px;
}

.titleBox {
  width: 1600px;
}

.titleBox2 {
  width: 1600px;
  margin-top: 20px;
}

.titleBox3 {
  width: 1600px;
  margin-top: 20px;
}

.titleName {
  font-family: 'ABeeZee', sans-serif;
  text-align: left
}

.titleNamePara {
  font-family: 'ABeeZee', sans-serif;
  text-align: left;
  font-size: 20px;

}

.subtitleName {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-align: right;
}

#projectBoxTitle {
  margin-left: 100px;
}



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  margin-left: 585px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#projectInfoSlide {
  display: flex;
}


@media only screen and (max-width: 840px) {
  .column {
    width: 100%;
  }
  
  

  .about, .about2 .main, .contactBox, .titleBox, .box, .box1, .box2, .left-wrapper, .right-wrapper, .slideshow-container, .box, .projectBox, #projectInfoSlide {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }


}