* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#title2 {
  color: pink;
}

body, html {
  height: 100%;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.about2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  height: 650px
}

.about3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#aboutMe {
  font-size: 25px;
}


.box1 {
  width: 500px;
  padding: 10px;
  margin:20px;

}

.boxExperienceLeft {
  width: 500px;
  padding: 10px;
  margin:20px;
}

.contactBox {
  height: 500px;
  width: 450px;
  padding: 10px;
  margin:20px;

}

.box2 {
  padding: 10px;
  width: 500px;
  margin:20px;
}

.boxExperienceRight {
  padding: 10px;
  width: 500px;
  margin:20px;
}



.software-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  width: 500px;
}

.littleBox {
  height: 80px;
}

.software-icons 
li {
  font-size: smaller;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5%;
  margin: 20px 5px 5px 5px;
  width: 100px;
  padding-top: 5px;
  text-align: center;
}

img {
  height:40px;
  width:40px;
}

body > div.about > div.right-wrapper > div > ul > li:nth-child(16) > img {
  height: 40px;
  width: 80px;
}



.projectBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.project1 {
  display: flex;
  width: 450px;
  height: 250px;
  
}

#projectTitle {
  color: rgb(58, 58, 58);
  line-height: 2.5;
}

#projectTitleAC {
  color: rgb(58, 58, 58);
  line-height: 3;
  font-size: 26px;
}


.iconsList {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.iconsBox 
li {
  margin: 8px;
  width: 20px;
  height: 20px;
  padding-top: 5px;
}

#buttonHeroku {
  width: 105px;
  height: 45px;
  margin-right: 8px;
  margin-top: 3px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;

}

#buttonGithub {
  width: 128px;
  height: 45px;
  margin-top: 3px;
  margin-left: 30px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;

}


#imageBox {
  background-image: url(../assets/mactransparent.png);
  background-size: contain;
  height: 500px;
  width: 100%;
  background-repeat:no-repeat;
  display: flex;
  margin: auto;
  display: flex
}

.galleryBox {
  position: absolute;
  left: 26px;
  top: 23px;
  width:571px; 
  height:324px;
}


.diagonal-black-right {
  opacity: 0.9;
  width: 101%;
  border-bottom: 10px solid black;
  position: absolute;
  overflow-x: hidden;
}

.box {
  width: 400px;
  height: 490px;
  margin-left: 650px;
  display: flex;
}

.parallax {
  /* The image used */
  background-image: url('https://i.imgur.com/P8iPWhD.jpg');
  min-height: 200px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-size: 400px;
}

.titleBoxFlex {
  display: flex;
  justify-content: center;
}

.titleBox {
  width: 1000px;
  background-color:white;
  font-size:36px;
}

.titleBox2 {
  width: 1000px;
  margin-top: 20px;
  background-color:white;
  font-size:36px;
}

.titleBox3 {
  width: 1600px;
  margin-top: 20px;
}

.titleName {
  font-family: 'ABeeZee', sans-serif;
  text-align: left
}

.titleNamePara {
  font-family: 'ABeeZee', sans-serif;
  text-align: left;
  font-size: 20px;

}

.subtitleName {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

#projectBoxTitle {
  margin-left: 100px;
}



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  margin-left: 585px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#projectInfoSlide {
  display: flex;
}

.projectBoxMobile {
  display: none;
}

.contactImage {
  height: 473px;
  width:418px;
} 


@media only screen and (max-width: 1024px) {


  .box1 {
    width: 100%;
    padding: 10px;
    margin:20px;
  }  

  .boxExperienceLeft {
    width: 100%;
    padding: 10px 10px 0px 10px;
    margin: 20px 20px 0px 20px;
  }


  .titleBox {
    height: 140px;
    width: 100%;
  } 

  .about {
    flex-direction: column;
  }
  
  .about3 {
    flex-direction: column;
    align-items: center;
  }


  .projectImage2 {
    width: 315px;
  }


  .about4 {
    flex-direction: column;
    align-items: center;
  }

  .left-wrapper {
    display: flex;
    flex-grow: 0.8;
    flex-basis: 0;
    width: 100%;
    
  } 

  .right-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    flex-basis: 0;
    flex-grow: 0.8;
  } 

  .left-wrapper1 {
    display: flex;
    flex-grow: 0.8;
    flex-basis: 0;
    width: 100%;
    max-width: 677px;
  } 

  .box2 {
    width: 100%;
  }

  .boxExperienceRight {
    width: 100%;
    padding: 0px 10px 10px 10px;
    margin: 0px 20px 20px 20px;
  }

  .software-icons {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .right-wrapper1 {
    display: flex;
    flex-basis: 0;
    flex-grow: 0.87;
    width: 100%;
    max-width: 677px;
  }

  .right-wrapper3 {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    flex-basis: 0;
    flex-grow: 0.35;
    width: 380px;
  }

  .contactImage {
    width: 318px;
    height: 372px;
  }

  #projectInfoSlide, .buttonBox {
    display: none;
  }

  .projectBoxMobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #projectBoxMobile {
    margin: 10px;
    width: 380px;
    height: 600px;
  }

  #projectBoxMobile2 {
    margin: 10px;
    width: 380px;
    height: 550px;
  }

  #projectBoxMobile3 {
    margin: 10px;
    width: 380px;
    height: 500px;
  }

  #projectBoxMobile4 {
    margin: 10px;
    width: 380px;
    height: 500px;
  }

  #projectBoxMobile5 {
    margin: 10px;
    width: 380px;
    height: 550px;
  }

  #imageBox {
    display: none;
  }

  .galleryBox1 {
    width:200px; 
    height:180px;
  }
  


  main {
    flex-direction: column;
  }
  



  .titleBox {
    font-size:30px;
  }
  
  .titleBox2 {
    font-size:30px;
    width: 100%;
  }
  
  .titleBox3 {
    margin-top: 14px;
  }

  
  .titleNamePara {
    font-size: 15px;
  
  }

  #aboutMe {
    font-size: 15px;
  }

  .titleName {
    text-align: center;
  }
  
  .subtitleName {
    font-size: 26px;
    text-align: center;
  }
  
  #projectBoxTitle {
    margin-left: auto;
  }
  

}


/* @media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {


  .titleBox {
    height: 140px;
    text-align: left;
  }

  .about, .about2, .about3, .about4 {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    height: 1200px;
  }

  .about2 {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    height: 550px;
  }

  .left-wrapper {
    display: flex;
    align-self: left;
    flex-basis: 0;
    flex-grow: 1;
  }

  .right-wrapper {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    margin-top: 40px;
  }

  .right-wrapper1 {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
  }

  #projectInfoSlide, .buttonBox {
    display: none;
  }

  .projectBoxMobile {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    flex-grow: 1;
  }

  #projectBoxMobile {
    margin: auto;
    margin-top:40px;
  }

  #imageBox {
    margin-left: 30px;
  }


  


  main {
    flex-direction: column;
  }
  




  
} */